*
!.gitignore
!/README.md
!requirements.txt
!/stealth.min.js

!my_classes.py
!my_dataset.py
!my_model.py
!my_test.py
!my_train.py

!/myspider/
!/myspider/custom_spider.py
!/myspider/job_type.json
!/myspider/train.txt